<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Coronavirus tracker app</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

</head>

<body>
	<div class="container">

		<h1>Coronavirus Tracker Application</h1>
		<p>This applications lists the current number of cases reported
			across the globe.</p>

		<div class="jumbotron">
			<h1 class="display-4" th:text="${totalReportedCases}"></h1>
			<p class="lead">Total reported cases as of today.</p>
			<hr class="my-4">
			<p>
				<span>Cases reported the previous day: </span>
				<span th:text="${totalNewCases}"></span>
			</p>
		</div>


		<table class="table">
			<tr>
				<th>Country/Region</th>
				<th>Province/State</th>
				<th>Total Cases</th>
				<th>Delta</th>
			</tr>
			<tr th:each="prod : ${locationStats}">
				<td th:text="${prod.country}"></td>
				<td th:text="${prod.state}"></td>
				<td th:text="${prod.latestTotalCases}">0</td>
				<td th:text="${prod.diffFromPrevDay}"></td>
			</tr>
		</table>
	</div>

</body>

</html>